
.card{
    border: 1px solid burlywood;
    padding: 5px;
}
.card button{
    background-color:royalblue ;
    width: 100%;
    border: none;
    padding: 5px;
    color: whitesmoke;
    border-radius: 3px;
}
.card img{
    width: 100%;
    border-radius: 5px;
    
}