.home {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

@media screen and (max-width: 912px) {
  .home {
    grid-template-columns: 2fr 2fr;
  }
}

@media screen and (max-width: 412px) {
    .home {
      grid-template-columns: 1fr 1fr;
    }
  }
