.result {
  margin: 5px;
}
.result button {
  margin-top: 30px;
  color: white;
  width: 100%;
  padding: 7px;
  background-color: royalblue;
  border: none;
  border-radius: 5px;
}

.person{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 5px;
}
.one span{
  font-size: 12px;
  
}
.one h2{
margin: 0;
}
.one p{
  margin: 0;

}
.details b {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background-color: aliceblue;
  padding: 12px;
}
.second{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* color:whitesmoke; */
    border-radius: 5px;
    background-color: aliceblue;
}
.second span{
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}
.second :hover{
    cursor: pointer;
    background-color:royalblue;
    color: white;
}

.man_name{
  display: flex;
    margin-top: 30px;
    gap:10px;


}
.man_name h3{
  margin-top: 0px;

  margin-bottom: 0px;
}
.man_name p{
  margin-top: 0px;
  margin-bottom: 0px;
}
.man{
  height: 50px;
  width: 50px;
  border-radius:50%;
}